@font-face {
  font-family: 'Neusa-Bold';
  src: url('./fonts/Neusa-Bold.woff2') format('woff2'),
    url('./fonts/Neusa-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Fontopo';
  src: url('./fonts/fontoponeutral-regular.woff2') format('woff2'),
    url('./fonts/fontoponeutral-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Dotmatrix;
  src: url('./fonts/Dotmatrix.woff2') format('woff2'), url('./fonts/Dotmatrix.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Digit;
  src: url('./fonts/Digit.woff2') format('woff2'), url('./fonts/Digit.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2'),
    url('./fonts/OpenSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
